<!DOCTYPE html>
<html>
  <head>
    <title>Rails5Sandbox</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script>
      // $(document).ready(function() {
      //     console.log( "ready!" );
      //     ReactDOM.render(
      //       <Hello></Hello>,
      //       document.querySelector('.container')
      //     );
      //     console.log( "done" );
      // });
    </script>

  </head>

  <body>
    <%= yield %>
    <%= javascript_include_tag 'bundle' %>
  </body>
</html>
